html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, serif;
}

.main {
  margin: 0;
  height: 100%;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.main .container {
  height: 100%;
}

.header {
  z-index: 30;
}

.header h1 {
  text-align: left;
}

.card {
  display: inline-block;
  overflow: hidden;
  width: 25%;
  margin: 0;
  border-right: 1px solid #efefef;
}

.card:last-child {
  border: 0;
}

.icon {
  margin: auto;
  height: 200px;
}

.title {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.developer {
  color: #afafaf;
  font-size: 14px;
  width: 100%;
}

.price {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  width: 60px;
  border-bottom: 5px solid #000;
  text-align: center;
}

.main button {
  background: transparent;
  color: #000;
  cursor: pointer;
  border: none;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 200;
  margin: 40px 20px;
  padding: 2px 20px;
  border-radius: 2px;
}

.main button:hover {
  color: rgb(255, 80, 80);
  background: rgba(255, 80, 80, 0.25);
  transition: background 500ms;
  border: 1px solid rgb(255, 80, 80);
}

.main button:focus {
  outline: 0;
}

.main button.btn-downloaded {
  background-color: #ababab;
  color: #3f3f3f;
}
